<div class="explore">
    <div class="explore-tiles">
            <ng-container *ngIf="exploreTiles$ | async as tiles">
                <div 
                *ngFor="let tile of tiles" 
                class="explore-tiles__tile"
                >
                    <img 
                    (click)="toBreedDetails(tile)"
                    class="explore-tiles__tile-image" 
                    [src]="tile.imageUrl" 
                    alt="">
                    <div class="explore-tiles__tile-info">
                        <p class="explore-tiles__tile-info__breed">{{tile.breedName}}</p>
                        <button class="explore-tiles__tile-info__button"
                        mat-stroked-button
                        *ngIf="isLoggedIn$ | async" 
                        (click)="saveBreed(tile)">Save breed</button>
                    </div>
                </div>
        </ng-container>
    </div>
</div>
