.explore {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  &-tiles {
    display: grid;
    margin-top: 50px;
    grid-template-columns: repeat(3, 1fr);
    grid-column: 2/8;
    grid-gap: 70px;
    &__tile {
      background-color: #f7fcfb;
      cursor: pointer;
      border: 2px solid #38bfa0;
      max-height: 400px;
      &-image {
        width: 100%;
        height: 85%;
        object-fit: cover;
      }
      &-info {
        height: 15%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        &__breed {
          margin: 0;
        }
      }
    }
  }
}
