<div class="explore">
    <div class="explore-tiles">
        <div *ngFor="let exploreTiles of exploreTiles$ | async" class="explore-tiles__tile">
            <img class="explore-tiles__tile-image" src="https://pixabay.com/get/g3f9544e7110ea934fd54525ffddb2b72a49036da1e320c3c39f8f7fdf6cf277b7b51e24207fb4fd8adb454bede1eb8cdee752036db9a2795f80bcd3897da2378_1280.jpg" alt="">
            <div class="explore-tiles__tile-info">
                <p class="explore-tiles__tile-info__breed">Borzoi</p>
                <p class="explore-tiles__tile-info__icon">X</p>
            </div>
        </div>
    </div>
</div>