<div class="header">
    <h2 
    (click)="navigateToSearch()"
    class="header-title">{{title}}</h2>
    <div class="header-actions">
        <mat-tab-group 
        (selectedTabChange)="tabClick($event)"
        animationDuration="0ms"
        class="header-actions__search">
            <mat-tab
           label="Search"
           ></mat-tab>
           <mat-tab
           class="header-actions__search-explore"
           label="Explore"
           aria-selected="isExploreSelected$ | async"
          ></mat-tab>
        </mat-tab-group>
        <div 
        *ngIf="!(isLoggedIn$ | async); else loggedIn"
        class="header-actions__auth">
            <button 
            class="header-actions__auth-signup"
            mat-raised-button 
            color="primary"
            (click)="toSignUp()"
           >Sign Up</button>
           <button 
           mat-stroked-button
           (click)="toSignIn()"
          >Sign In</button>
        </div>
        <ng-template #loggedIn>
            <div class="header-actions__auth">
                <div
                class="header-actions__auth-account">
                    <button 
                    mat-raised-button 
                    color="primary"
                    (click)="toAccount()"
                   >My Account</button>
                </div>
                <div
                class="header-actions__auth-logout">
                    <button 
                    mat-stroked-button
                    color="primary"
                    (click)="logout()"
                   >Log Out</button>
                </div>
            </div>
        </ng-template>
    </div>
</div>