<div class="sign-up">
    <h2 class="sign-up-header">Sign up for a Dog Discovery account & save your favorite breeds!</h2>
    <div class="sign-up__main">
        <div class="sign-up__main-left">
            <img src="assets/img/dog-main.png" alt="">
        </div>
        <div class="sign-up__main-right">
            <form [formGroup]="signUpForm"
            (submit)="submit()"
            class="sign-up__main-right-form">
                <mat-form-field appearance="outline">
                    <mat-label>First Name</mat-label>
                    <input 
                    formControlName="firstName" required
                    matInput placeholder="Placeholder">
                  </mat-form-field>
                  <mat-form-field appearance="outline">
                    <mat-label>Last Name</mat-label>
                    <input 
                    formControlName="lastName" required
                    matInput placeholder="Placeholder">
                  </mat-form-field>
                  <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input 
                    formControlName="email" required
                    matInput placeholder="Placeholder">
                  </mat-form-field>
                  <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input 
                    [type]="'password'"
                    formControlName="password" required
                    matInput placeholder="Placeholder">
                  </mat-form-field>
                  <mat-form-field appearance="outline">
                    <mat-label>Re-Enter Password</mat-label>
                    <input 
                    [type]="'password'"
                    formControlName="passwordConfirm" required
                    matInput placeholder="Placeholder">
                    <mat-error *ngIf="signUpForm.controls.passwordConfirm.hasError('mismatch')">
                      Passwords do not match
                    </mat-error>  
                  </mat-form-field>
                  <button type="submit" mat-flat-button>Start Digging!</button>
                  <button (click)="cancel()" class="sign-up__main-right-form-cancel" mat-stroked-button>Cancel</button>
            </form>
        </div>
    </div>
</div>