<div class="search">
  <h1 class="search-title">Dig & Discover Your Ideal Dog Breeds</h1>
    <form class="search-form">
      <mat-form-field class="search-form__field" appearance="outline">
        <input type="text"
          matInput
          placeholder="Find a breed"
          [formControl]="formControl"
          [matAutocomplete]="auto"
          (keyup.enter)="openBreedInfo()"
          (focusout)="refreshFormControl()"
          >
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">     
          <mat-option *ngFor="let breed of filteredBreedNames | async" [value]="breed">
            {{breed}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
</div>
<img src="assets/img/dog-main.png" alt="">