<div *ngIf="account$ | async as account" class="account">
    <div class="account-info">
        <h2>
            Your Account
        </h2>
        
        <div class="account-info__details">
            <p>{{ account.firstName }}</p>
            <p>{{ account.lastName }}</p>
            <p>{{ account.email }}</p>
        </div>
    </div>
    <!-- <div 
    *ngIf="account.savedBreeds.length > 0"
    class="account-dogs">
        <div *ngFor="let breed of account.savedBreeds" class="account-dogs__breed">
            <h3 class="account-dogs__breed-name"></h3>
            <p class="account-dogs__breed-size">{{breed}}</p>
        </div>
    </div> -->
    <div class="account-tiles">
        <ng-container *ngIf="exploreTiles$ | async as tiles">
            <div 
            *ngFor="let tile of tiles" 
            class="explore-tiles__tile"
            >
                <img 
                class="explore-tiles__tile-image" 
                [src]="tile.imageUrl" 
                alt="">
                <div class="explore-tiles__tile-info">
                    <p class="explore-tiles__tile-info__breed">{{tile.breedName}}</p>

                </div>
            </div>
    </ng-container>
</div>
</div>